<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between">
  <a class="navbar-brand" href="#">News parser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="sources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sources
        </a>
        <div class="dropdown-menu" aria-labelledby="sources">
          <a class="dropdown-item" href="#">iXBT</a>
          <a class="dropdown-item" href="#">ycombinator</a>
          <a class="dropdown-item" href="">Stopgame</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="tags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tags
        </a>
        <div class="dropdown-menu" aria-labelledby="tags">
          <a class="dropdown-item" href="#">games</a>
          <a class="dropdown-item" href="#">development</a>
          <a class="dropdown-item" href="">tech</a>
        </div>
      </li>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
  </div>
</nav>
