
<div *ngIf="isLoading"
     style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-list>
  <div [id]="news.id +'#news'"  *ngFor="let news of (newsfeed|slice :lowValue : highValue)">
<!--  <div *ngIf="!hiddenList.includes(news);"> -->
<mat-card *ngIf="!hiddenList.includes(news)"  class="example-card">

  <a [href]="news.link">
  <mat-card-header>
<div mat-card-avatar>
  <mat-icon *ngIf="news.source==='OTHER'">book</mat-icon>
  <mat-icon *ngIf="news.source==='STOPGAME'">games</mat-icon>
  <mat-icon *ngIf="news.source==='iXBT'">videogame_asset</mat-icon>
</div>

    <mat-card-title>{{news.title}}</mat-card-title>
    <mat-card-subtitle>{{news.source}}</mat-card-subtitle>
  </mat-card-header></a>
  <mat-card-actions>
    <button mat-button class="btn" >SAVE</button>
    <button mat-button class="btn" (click)="hideNews(news.id +'#news', news)" >HIDE</button>
    <p *ngFor="let tag of news.tagList">{{tag}}</p>
  </mat-card-actions>

</mat-card>
  </div>
  <mat-paginator
    [length]="newsfeed.length" (page)="getPaginatorData($event)" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-list>
